<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Неверные данные!</title>
</head>

<body>
    <h1>Неверные (неполные) данные, либо организация с указанными ИНН, ОГРН, названием уже в системе!</h1>
        <h2>Введите обязательную информацию:</h2>
            <h3>ИНН</h3>
                <ul>
                    <li>10 цифр</li>
                    <li>&nbsp;<em>например,&nbsp;3664069397</em></li>
                </ul>
            <h3>ОГРН</h3>
                <ul>
                    <li>13 цифр</li>
                    <li><em>например, 1053600591197</em></li>
                </ul>
            <h3>Полное наименование</h3>
                <ul>
                    <li><em>например, Общество с ограниченной ответственностью "Успешное страхование"</em></li>
                </ul>
            <h3>Адрес</h3>
                <ul>
                    <li><em>например, Воронежская область, Воронеж, ул. Революции 1905 г., д. 66</em></li>
                </ul>

    <form action="/">
        <input type="submit" value="На главную" />
    </form>
</body>
</html>